@font-face {
  font-family: "joystix";
  src: url("../Fonts/joystix.ttf")
}

body{
  background-image: url("../images/fondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

header {
  width: 100%;
  height: 300px;
  font-size: 80px;
  color: white;
  display: inline-block;
  align-content: flex-end;
}

.btn {
display: block;
text-decoration: none;
text-transform: uppercase;
padding: 16px 36px 22px;
border: 2px solid;
border-color: grey;
border-radius: 6px;
margin-bottom: 16px;
color: white;
}


canvas {
  width: 70%;
  border: 1px, solid, black;
  display: none;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}


.game-intro{
font-family: "joystix";
position:relative;
text-align: center;
color: white;
padding: 250px;
}

hr{
  width: 60%;
}

.winner {
  text-align: center;
  font-size: 100px;
  font-family: "joystix";
  color: yellowgreen;
  width: 70%;
  position: relative;
}
